:root {
  --background: rgb(244, 244, 244);
  --text: #232323;
  --node-bg: rgb(244, 244, 244);
  --selected-node-bg: #24a0e2;
  --fact-color: #0bdc00;
  --none-color: #1f1f1f;
  --implied-unproven-color: #0825ff;
  --implied-proven-color: #149061;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #282c34;
    --text: #e8e8e8;
    --node-bg: rgba(24, 24, 24, 0.8);
    --selected-node-bg: #24a0e2;
    --fact-color: #5fed00;
    --none-color: #d0d0d0;
    --implied-unproven-color: #2f64d6;
    --implied-proven-color: #149061;
  }
  input {
    background-color: rgb(48, 44, 44);
    border: 0.5 px;
  }
}

.App {
  text-align: center;
}
h1, p, h2 {
  color: var(--text);
}
body {
  background-color: var(--background);
}
.abs-title {
  z-index: 1;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  padding: 0;
  text-align: center;
  color: var(--text);
}
.abs-debug {
  z-index: 1;
  position: absolute;
  top: 5rem;
  left:0;
  width: 100%;
  padding: 0;
  text-align: center;
  color: var(--text);
}
.abs-in {
  width: 50%;
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: left;
  color: var(--text);
  border: none;
  background-color: var(--node-bg)
}
.abs-in:focus {
  outline: none;
}
